.portfolio-header {
  min-height: 240px;
  padding: 3rem;
  @media (max-width: 750px) {
    padding: 1rem;
  }
}

a {
  color: white;
}

@media print {
  header {
    border-bottom: 2px solid whitesmoke;
  }
}
